.gradle/
.idea/
quebec.iml
*.iml
build
/build
.gradle
*.sw?
.#*
*#
*~
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.ipr
*.iws
.idea
*.jar
.DS_Store
app.pid
logs/
quebec-repository\src\main\resources\development/
/classes
gradlew
gradlew.bat
gradle
out/